<!--p>bug-card works!</p-->
<div class="card mb-4 ml-4 mr-4">
    <div class="mt-2">
        <ul class="list-inline user-icons animate text-center">
            <li class="list-inline-item"><button routerLink="/bug/id/{{bug_p.id}}" class="btn btn-primary"><i class="fa fa-bug"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-edit"></i></button></li>
            <button [hidden]="!ableToEditBug" (click)="removeBug()" class="btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i></button>
        </ul>
    </div>
    <div class="card-body p-1">
        <div class="text-center">Bug name:</div>
        <h6 class="card-title text-center mb-1">{{bug_p.name}}</h6>
        <p class="card-text text-muted text-center">
            Comments: {{numberOfComments}}<br>
            <i class="fa fa-info-circle mr-2"> Active: {{bug_p.isActive}}</i>
        </p>
    </div>
</div>