<!--p>bug-edit works!</p-->
<div class="">
    <div class="card mb-2">
        <div class="card-body">
            <div>
                <span class="font-weight-bold">{{bug.filedByUser}}</span><br>
                <button (click)="removeBug()" class="btn btn-primary float-right mt-n4" title="Delete bug"><i class="fa fa-times" aria-hidden="true"></i></button>
                <mark [hidden]="!bugEdited" class="small mr-2 float-right">&nbsp;<em>Edited</em>&nbsp;</mark><br>
                <span class="small">{{bug.dateCreated}}</span><hr class="mt-n1">
                <label class="float-right"><em>Note: upload up to five images and one URL resource (image).</em></label>
                <form id="newForm" #newForm="ngForm">
                    <label for="name">Bug name</label>
                    <input type="text" class="form-control" [(ngModel)]="bug.name" name="name">
                    <label for="description" class="mt-3">Bug description</label>
                    <textarea class="form-control" [(ngModel)]="bug.description" name="description" id="" rows="12"></textarea>
                    <label for="imageURL" class="mt-3">Bug Image URL:</label>
                    <input type="text" class="form-control" [(ngModel)]="bug.imageURL" name="imageURL">
                    
                    <label for="bug.bugImage1" class="mt-3">Image 1 - {{bug.bugImage1}}</label>
                    <!--input type="text" class="form-control" [(ngModel)]="bug.bugImage1" name="bugImage1"-->
                    <app-file-upload [numberString]="1" requiredFileType="image/jpg"></app-file-upload>
                    <label for="bug.bugImage2" class="mt-3">Image 2 - {{bug.bugImage2}}</label>
                    <!--input type="text" class="form-control" [(ngModel)]="bug.bugImage2" name="bugImage2"-->
                    <app-file-upload [numberString]="2"></app-file-upload>
                    <label for="bug.bugImage3" class="mt-3">Image 3 - {{bug.bugImage3}}</label>
                    <!--input type="text" class="form-control" [(ngModel)]="bug.bugImage3" name="bugImage3"-->
                    <app-file-upload [numberString]="3"></app-file-upload>
                    <label for="bug.bugImage4" class="mt-3">Image 4 - {{bug.bugImage4}}</label>
                    <!--input type="text" class="form-control" [(ngModel)]="bug.bugImage4" name="bugImage4"-->
                    <app-file-upload [numberString]="4"></app-file-upload>
                    <label for="bug.bugImage5" class="mt-3">Image 5 - {{bug.bugImage5}}</label>
                    <!--input type="text" class="form-control" [(ngModel)]="bug.bugImage5" name="bugImage5"-->
                    <app-file-upload [numberString]="5"></app-file-upload>

                    <button form="newForm" (click)="updateBug(bug.id)" class="btn btn-secondary btn-block p-3 mt-4">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>