<div class="container" style="min-width: 10rem; max-width: 20rem;">
    <form #registerForm="ngForm" (ngSubmit)="registerNewUser()" autocomplete="off">
        <h2 class="text-center text-primary">Create new user</h2>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control mb-1" name="username" [(ngModel)]="model.username" placeholder="Username">
            <input type="password" class="form-control mb-1" name="password" [(ngModel)]="model.password" placeholder="Password">
        </div>
    
        <!--div class="form-group">
            <label>Who is your fav usah?</label>
            <select class="form-control">
                <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                    {{user.userName}}
                </option>
            </select>
        </div-->
        
        <div class="form-group text-center">
            <button class="btn btn-primary btn-lg btn-success mr-2" type="submit">Register</button>
            <button class="btn btn-info btn-lg mr-2" (click)="cancelUserRegistration()" type="button">Cancel</button>
        </div>
    </form>
</div>
