<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" routerLink="/">eBug Tracker</a>
            <button *ngIf="accountService.currentUser$ | async" class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>

            <div class="navbar-collapse collapse" id="navbarCollapse">
                <div class="menu-links" style="margin: auto;">
                    <!--ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="loggedIn"--> <!-- v1 -->
                    <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                                        <!-- check if user is logged in -->
                        <ng-container *ngIf="accountService.currentUser$ | async">
                            <li class="nav-item">
                                <a class="nav-link" title="New Bug Entry" [routerLink]="['/']" routerLinkActive="router-link-active">New</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" title="Bug Stats" [routerLink]="['/stats']" routerLinkActive="router-link-active" >Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" title="List all users" [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" title="List all projects" [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" title="List all bugs" [routerLink]="['/bugs']" routerLinkActive="router-link-active">Bugs</a>
                            </li>
                            <!--li class="nav-item">
                                <a class="nav-link" title="" [routerLink]="['/messages']" routerLinkActive="router-link-active">Messages</a>
                            </li-->
                        </ng-container>
                        <li class="nav-item">
                            <a class="nav-link" title="" [routerLink]="['/errors']" routerLinkActive="router-link-active">Errors</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--div class="dropdown" *ngIf="loggedIn" dropdown--> <!-- v1 -->
            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown style="margin-right: 7rem;">
                <!--a class="dropdown-toggle text-dark" title="Current Logged-in User" dropdownToggle>{{ getUserName_forNavBar(model.username) }}</a-->
                <!--a class="dropdown-toggle text-light" title="Current Logged-in User" dropdownToggle>{{ model.username | titlecase }}</a-->
                <a class="dropdown-toggle text-light" title="Current Logged-in User" dropdownToggle>{{ user.username | titlecase }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/user/edit/this']" routerLinkActive="router-link-active">Edit Profile</a>
                    <ng-container *ngIf="isAdmin">
                        <a class="dropdown-item" [routerLink]="['/user/edit/admin']" routerLinkActive="router-link-active">Admin: Admin Panel</a>
                    </ng-container>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>

            <!--form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off"--> <!-- v1 -->
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                <input
                    name="username"
                    [(ngModel)]="model.username"
                    class="form-control me-2"
                    type="text" placeholder="Username"
                    style="margin-right: .3rem;">

                <input
                    name="password"
                    [(ngModel)]="model.password"
                    class="form-control me-2"
                    type="password" placeholder="Password"
                    style="margin-right: .3rem;">
                    <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>