<p>bug-new works!</p>
<!--div class="col-8">
    <div class="card mb-2">
        <div class="card-body">
            <div>
                <span class="font-weight-bold">{{commentTemplate.postedByUser}}</span><br>
                <span class="small">{{commentTemplate.dateCreated}}</span><hr class="mt-n1">
                <span [hidden]="newComment">{{commentTemplate.content}}</span>
                <form id="newForm" #newForm="ngForm" [hidden]="!newComment">
                    <textarea class="form-control" [(ngModel)]="commentTemplate.content" name="content" id="" rows="3"></textarea>
                    <button form="newForm" (click)="saveNewComment()" class="btn btn-secondary btn-block p-3 mt-1">Save</button>
                </form>
            </div>
        </div>
    </div>
</div-->