<!--p>project-card works!</p-->
<div class="card mb-4">
    <div class="card-img-wrapper">
        <ul class="list-inline user-icons animate text-center">
            <li class="list-inline-item"><button routerLink="/project/id/{{appProject.id}}" class="btn btn-primary"><i class="fa fa-user"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"> {{appProject.isComplete}}</i></h6>
        <p class="card-text text-muted text-center">{{appProject.isOnHold}}</p>
    </div>
</div>
