<!--p>project-card works!</p-->
<ng-container *ngIf="!editProject">
    <div class="card mb-4">
        <div class="card-img-wrapper mt-2">
            <div class="px-3 mb-n3">
                <!--span>Project ID: </span><span style="float:right" class="text-end">{{project.id}}</span><br-->
                <span>Project name: </span><span style="float:right" class="text-end"><strong>{{project.name}}</strong></span><br>
                <span>Bugs reported: </span><span style="float:right" class="text-end"><strong>{{numberOfBugs}}</strong></span><br>
                <span>Users in project: </span><span style="float:right" class="text-end"><strong>{{numberOfUsers}}</strong></span>
            </div><hr>
            <div class="text-center">
                <ul class="list-inline user-icons animate text-center">
                    <li class="list-inline-item"><button routerLink="/project/id/{{project.id}}" class="btn btn-primary"><i class="fa fa-folder"></i></button></li>
                    <ng-container *ngIf="ableToEditProject">
                        <li class="list-inline-item"><button (click)="enableProjectEditComponent(true)" class="btn btn-primary" title="Edit bug"><i class="fa fa-edit"></i></button></li>
                        <!--li class="list-inline-item"><button (click)="toggleComplete()" class="btn btn-primary" title="Toggle completed status"><i class="fa fa-check"></i></button></li-->
                        <!--li class="list-inline-item"><button (click)="removeProject()" class="btn btn-primary" title="Delete project"><i class="fa fa-times"></i></button></li-->
                        <li class="list-inline-item"><button (click)="toggleOnHold()" class="btn btn-primary" title="Toggle 'on-hold' status"><i class="fa fa-pause"></i></button></li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="card-body p-2">
            <span class="card-title text-center mb-1"><i class="fa fa-check"> Project complete:</i></span><span class="text-end float-right">{{project.isComplete}}</span><br>
            <span class="card-text text-muted text-center"><i class="fa fa-pause"> Project on-hold:</i></span><span class="text-end float-right">{{project.isOnHold}}</span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="editProject">
    <div class="text-center mb-n5">
        <button (click)="closeEditForm()" class="btn btn-primary" title="Close" style="z-index: 99; position: relative">Close edit form</button>
    </div>
    <app-project-edit [project]="project" [hidden]="!editProject"></app-project-edit>
</ng-container>
