<!--p>user-profile-username works!</p>
<div class="container" style="margin-top: 5rem;">
  <ng-container *ngIf="user">
    <p>{{user.id}} - {{user.username}}</p>
  </ng-container>
</div-->
<div class="row" *ngIf="appUser">
  <div class="col-4">
    <div class="card">
      <img src="{{appUser.imageUrl || './assets/images/user.png'}}" alt="{{appUser.username}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          {{appUser.username}} - <strong>{{appUser.userType}}</strong> - ID: {{appUser.id}}<br><hr>
          Name: {{appUser.name}}<br>
          Surname: {{appUser.surname}}<br>
          Team: {{appUser.team}}<br>
          Registered:<br>{{appUser.dateCreated}}<br>
          Last active:<br>{{appUser.lastActive}}<br>
          <!-- Description: {{appUser.description}}<br-->
        </div>
      </div>
      <!--div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Message</button>
        </div>
      </div-->
    </div>
  </div>

  <div class="col-8">
    <tabset class="user-tabset">
      <tab heading="Profile - {{appUser.username}}">
        <h4>Description</h4>
        <p>{{appUser.description}}</p>
      </tab>
      <tab heading="Images">
        <h4>Images</h4>
        <p>EDIT: images go here.</p>
      </tab>
      <!--tab heading="Messages">
        <h4>Messages</h4>
        <p>EDIT: messages go here.</p>
      </tab-->
    </tabset>
  </div>
</div>
